.header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_navigation-logo {
  overflow: inherit;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-item {
  margin-right: 110px;
}
.header__nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
}

.header__purchase {
  display: flex;
  align-items: center;
}

.header__purchase-title {
  margin-left: 15px;
  margin-right: 40px;
}
